<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperación de contraseña</title>
</head>

<body>
    <div>
        <h3>¡Hola {{name}}!</h3>
        <p>Para recuperar tu contraseña accede al siguiente enlace y sigue los pasos:</p>
        <a href="{{url}}/recovery-password/{{resetToken}}">Click here</a>
        <br>
        <br>
        <div>
            <p>Si no solicitaste la recuperación de contraseña has caso omiso a este correo y puedes eliminarlo.</p>
            <p>Gracias</p>
        </div>
    </div>

</body>

</html>